:root {
    --green: rgb(55, 158, 110);
}
button:hover {
    cursor: pointer;    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(24, 24, 24);
    color: white;
}
ul {
    list-style: none;
}

header {
    display: flex;
    align-items: center;
}

#header-title-container {
    position: relative;
    left: 1%;
}
#menu-button {
    position: absolute;
    right: 5%;
}

#header-menu-container {
    position: absolute;
    right: 5%;
    top: 3%;
}
.menu-option {
    color: white;
    text-decoration: none;
}
.menu-option-container {
    margin-top: 20px;
    margin-bottom: 10px;
}
.menu-option:hover {
    color: var(--green);
}

#intro-section {
    display: flex;
    margin-top: 25%;
}
#intro-section-left {
    width: 35%;
    height: auto;
    margin-left: 10%;
    margin-right: 5%;
}
#intro-section-right {
    margin-right: 10%;
    height: auto;
    width: 35%;
    margin-left: 5%;
}

#intro-section-title {
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
}
#intro-section-skills,
#intro-section-text,
#see-projects-button {
    margin-top: 5%;
    line-height: 1.2rem;
}
#intro-section-skills {
    color: var(--green);
}
#see-projects-button {
    padding: 0 7% 0 7%;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    color: white;
    background: var(--green);
    line-height: 3rem;
}
