:root {
    --green: rgb(55, 158, 110);
}
html {
    scroll-behavior: smooth;
}
button:hover {
    cursor: pointer;    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(24, 24, 24);
    color: white;
}
ul {
    list-style: none;
}
a {
    color: var(--green);
    text-decoration: none;
}

/* Header */
header {
    display: flex;
    line-height: 2.5rem;
    padding: 1% 0 1% 0;
}
#header-menu {
    width: 90%;
    display: flex;
}
.header-option {
    color: white;
    padding: 0 7% 0 7%;
}
#enquire-button {
    padding: 0 3% 0 3%;
    margin-right: 1%;
    border-radius: 20px;
    border: none;
    background: rgb(245, 191, 14);
    color: white;
}


/* Intro section */
#intro-section {
    display: flex;
    margin-top: 25%;
}
#intro-section-left {
    width: 35%;
    height: auto;
    margin-left: 10%;
    margin-right: 5%;
}
#intro-section-right {
    margin-right: 10%;
    height: auto;
    width: 35%;
    margin-left: 5%;
}

#intro-section-title {
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
}
#intro-section-skills,
#intro-section-text,
#see-projects-button {
    margin-top: 5%;
    line-height: 1.2rem;
}
#intro-section-skills {
    color: var(--green);
}
#see-projects-button {
    padding: 0 7% 0 7%;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    color: white;
    background: var(--green);
    line-height: 3rem;
}

#intro-section-right img {
    height: auto;
    width: auto;
    max-height: 90%;
    max-width: 70%;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px rgb(109, 109, 109);
}


/* about me */
#about-me-section {
    width: 70%;
    margin: 10% 15% 0 15%;
}
#about-me-title {
    position: relative;
    text-align: center;
    left: 60%;
    width: 25%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid var(--green);
}

#tech-container {
    margin-top: 5%;
}
#key-tech {
    margin-bottom: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid var(--green);
}
#tech-list {
    list-style: circle;
    margin-left: 5%;
}
.tech-item {
    padding: 1% 0 1% 0
}

/* Projects section */
#projects-section {
    margin-top: 20%;
    display: flex;
    margin-bottom: 20%;
}
#projects-container {
    width: 70%;
    margin: 0 15% 0 15%;
    display: flex;
}
#projects-list-container {
    width: 30%;
}

.project-button {
    background: none;
    border: 1px;
    color: rgb(83, 83, 83);
    width: 100%;
    padding: 5% 0 5% 0;
    line-height: 1.5rem;
}
.project-button:hover {
    border: 1px solid var(--green);
    color: var(--green);
}
.project-button-click {
    border: 1px solid var(--green);
    color: var(--green);
}

#project-content {
    width: 65%;
    margin-left: 5%;
}
#project-title {
    color: var(--green);
}
#project-description {
    margin: 3% 0 3% 0;
}
#project-code {
    margin-right: 10%;
}

/* Enquiry Form */
#enquire-form-container {
    display: none;
    justify-content: center;
    margin-top: 20%;
}

#form input,
#form textarea,
#form button {
    margin: 0 35% 0 35%;
    width: 30%;
    line-height: 1.5rem;
    font-size: 1rem;
}
#enquiry-submit {
    background: var(--green);
    color: white;
    margin-bottom: 3%;
}
.form-button {
    border: none;
    border-radius: 10px;
}

/* Footer */
#contact {
    width: 70%;
    margin: 0 15% 15% 15%;
}
#contact-title {
    border-bottom: 1px solid var(--green);
    margin-bottom: 1%;
    padding-bottom: 1%;
}
#contact i {
    font-size: 3rem;
    color: white;
}
#contact-link-container {
    width: 70%;
    margin: 5% 15% 0 15%;
    display: flex;
    justify-content: space-between;
}
