:root {
    --green: rgb(55, 158, 110);
}
button:hover {
    cursor: pointer;    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(24, 24, 24);
    color: white;
}
ul {
    list-style: none;
}
a {
    color: var(--green);
    text-decoration: none;
}
#enquire-button {

}

/* Header */
header {
    display: flex;
    line-height: 2.5rem;
    padding: 1% 0 1% 0;
}
#header-menu {
    width: 90%;
    display: flex;
}
.header-option {
    color: white;
    padding: 0 7% 0 7%;
}
#enquire-button {
    padding: 0 3% 0 3%;
    margin-right: 1%;
    border-radius: 20px;
    border: none;
    background: rgb(245, 191, 14);
    color: white;
}


/* Intro section */
#intro-section {
    display: flex;
    margin-top: 25%;
}
#intro-section-left {
    width: 35%;
    height: auto;
    margin-left: 10%;
    margin-right: 5%;
}
#intro-section-right {
    margin-right: 10%;
    height: auto;
    width: 35%;
    margin-left: 5%;
}

#intro-section-title {
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
}
#intro-section-skills,
#intro-section-text,
#see-projects-button {
    margin-top: 5%;
    line-height: 1.2rem;
}
#intro-section-skills {
    color: var(--green);
}
#see-projects-button {
    padding: 0 7% 0 7%;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    color: white;
    background: var(--green);
    line-height: 3rem;
}


/* Projects section */
#projects-section {
    margin-top: 30%;
    display: flex;
}
#projects-container {
    width: 70%;
    margin: 0 15% 0 15%;
    display: flex;
}
#projects-list-container {
    width: 30%;
}

.project-button {
    background: none;
    border: 1px;
    color: rgb(83, 83, 83);
    width: 100%;
    padding: 5% 0 5% 0;
    line-height: 1.5rem;
}
.project-button:hover {
    border: 1px solid var(--green);
    color: var(--green);
}

#project-content {
    width: 65%;
    margin-left: 5%;
}